_ide_helper.php
.DS_Store
.idea
.idea
.php-cs-fixer.cache
.phpunit.result.cache
.vscode
.vscode
build
composer.lock
coverage
docker-compose.override.yml
docs
Homestead.json
Homestead.yaml
node_modules
npm-debug.log
phpstan.neon
phpunit.xml
testbench.yaml
vendor
yarn-error.log

